---
const { slidesPerView = 1, id, delay = 2000, paginationClass="mt-0" } = Astro.props;
---

<div class="swiper" id={id}>
	<div class="swiper-wrapper">
		<slot />
	</div>
	<div class={`swiper-pagination ${paginationClass}`}></div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline define:vars={{ slidesPerView, id, delay }}>
	new Swiper(`#${id}`, {
		loop: true,
		autoplay: { 
      delay: delay,
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
    },
		slidesPerView: document.body.clientWidth < 1200 ? 1 : slidesPerView,
		spaceBetween: 30,
		pagination: { el: '.swiper-pagination', clickable: true },
	});
</script>
<style>
	:root {
		--swiper-pagination-bullet-inactive-opacity: 0.28;
		--swiper-pagination-bullet-inactive-color: var(--accent-color);
		--swiper-pagination-color: var(--accent-color);
	}
</style>
