---

import MiniCard from '~/components/MiniCard.astro';
import Layout from '~/layouts/Layout.astro';
import links from '../../content/social/linktree.json';
---

<Layout>
	<h1>Linktree</h1>
  <h5>Our tree of links</h3>
  <br/>
	<div class="grid grid-cols-2 gap-8">
		{links.map((l) => <MiniCard body={l.description} title={l.group_name} cn={{"body": "text-sm", "title": "no-underline"}} />)}
	</div>
</Layout>
