---
import Layout from '~/layouts/Layout.astro';
import Parser from 'rss-parser';
import BlogCard from 'M/BlogCard.astro';

const parser = new Parser();
const medium = await parser.parseURL('https://medium.com/feed/think-do-tank');
const planet = await parser.parseURL('https://dyne.substack.com/feed/');
const feed = medium.items.concat(planet.items);
feed.sort((a, b) => new Date(b.isoDate).getTime() - new Date(a.isoDate).getTime());

const truncate = (t, max) => t.substr(0, max - 1) + (t.length > max ? '…' : '');
---

<Layout
	content={{
		title: 'think & do tank',
		description: 'We survive out of the commonplaces.<br/>Thoughts and tools out the box.',
	}}
>
	<div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
		{
			feed.map((f) => (
				<BlogCard title={f.title} author={f.creator} href={f.link}>
					{truncate(f['content:encodedSnippet'], 430)}
				</BlogCard>
			))
		}
	</div>
</Layout>
