---
import Layout from '~/layouts/Layout.astro';
import BlogArticlePreview from '~/components/BlogArticlePreview.astro';
import Parser from 'rss-parser';

const parser = new Parser();
const feed = await parser.parseURL('https://medium.com/feed/think-do-tank');
---

<Layout>
	<h1>Dyne.org think & do tank</h1>

	<span>
		We are hackers. <br />
		We survive out of the commonplaces. <br />
		Thoughts and tools out the box.
        </span>

	<div class="mt-8 grid grid-cols-2 gap-8">
		{feed.items.map((f) => <BlogArticlePreview {...f} />)}
	</div>
</Layout>
