---
import BaseLayout from '~/layouts/BaseLayout.astro';
import NewButton from '~/components/atoms/NewButton.astro';
---

<BaseLayout>
	<div class="p-20">
		<span class="h1">Buttons</span>
		<div class="grid grid-cols-6 space-4">
			<NewButton size="small">New Button</NewButton>
			<NewButton>New Button</NewButton>
			<NewButton size="large">New Button</NewButton>

			<NewButton icon={true} size="small">New Button</NewButton>
			<NewButton icon={true}>New Button</NewButton>
			<NewButton icon={true} size="large">New Button</NewButton>

			<NewButton size="small" color="green">New Button</NewButton>
			<NewButton color="green">New Button</NewButton>
			<NewButton color="green" size="large">New Button</NewButton>

			<NewButton size="small" color="purple">New Button</NewButton>
			<NewButton color="purple">New Button</NewButton>
			<NewButton color="purple" size="large">New Button</NewButton>

			<NewButton size="small" color="black">New Button</NewButton>
			<NewButton color="black">New Button</NewButton>
			<NewButton color="black" size="large">New Button</NewButton>

			<NewButton size="small" color="neutral">New Button</NewButton>
			<NewButton color="neutral">New Button</NewButton>
			<NewButton color="neutral" size="large">New Button</NewButton>
		</div>
		<span class="font-headline-desktop-large">Colors</span>
		<div class="grid grid-cols-10 gap-6 mb-10">
			<div class="bg-purple-50 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-100 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-200 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-300 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-400 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-500 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-600 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-700 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-800 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-purple-900 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-50 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-100 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-200 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-300 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-400 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-500 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-600 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-700 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-800 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-orange-900 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-50 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-100 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-200 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-300 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-400 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-500 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-600 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-700 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-800 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-green-900 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-50 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-100 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-200 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-300 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-400 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-500 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-600 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-700 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-800 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-black-900 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-50 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-100 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-200 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-300 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-400 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-500 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-600 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-700 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-800 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="bg-neutral-900 w-[80px] h-[80px] rounded-[12px]"></div>
			<div class="w-[80px] h-[80px] bg-white rounded-[12px] shadow-simple"></div>
			<div class="shadow-cards-simple-orange w-[80px] h-[80px] bg-white rounded-[12px]"></div>
			<div class="shadow-cards-simple-purple w-[80px] h-[80px] bg-white rounded-[12px]"></div>
			<div class="shadow-cards-simple-green w-[80px] h-[80px] bg-white rounded-[12px]"></div>
			<div class="shadow-cards-focused-orange w-[80px] h-[80px] bg-white rounded-[12px]"></div>
			<div class="shadow-cards-focused-purple w-[80px] h-[80px] bg-white rounded-[12px]"></div>
			<div class="shadow-cards-focused-green w-[80px] h-[80px] bg-white rounded-[12px]"></div>
		</div>
		<span>Typography</span>
		<div class="bg-white flex flex-row justify-center w-full">
			<div class="bg-white w-[2845px] h-[1597px] relative">
				<div
					class="top-[398px] left-[450px] font-headline-desktop-large font-[number:var(--headline-desktop-large-font-weight)] text-black text-[length:var(--headline-desktop-large-font-size)] tracking-[var(--headline-desktop-large-letter-spacing)] leading-[var(--headline-desktop-large-line-height)] whitespace-nowrap [font-style:var(--headline-desktop-large-font-style)]"
				>
					Headline/desktop/large
				</div>
				<div
					class="top-[480px] left-[450px] font-headline-desktop-medium font-[number:var(--headline-desktop-medium-font-weight)] text-black text-[length:var(--headline-desktop-medium-font-size)] tracking-[var(--headline-desktop-medium-letter-spacing)] leading-[var(--headline-desktop-medium-line-height)] whitespace-nowrap [font-style:var(--headline-desktop-medium-font-style)]"
				>
					Headline/desktop/medium
				</div>
				<div
					class="top-[558px] left-[450px] font-headline-desktop-small font-[number:var(--headline-desktop-small-font-weight)] text-black text-[length:var(--headline-desktop-small-font-size)] tracking-[var(--headline-desktop-small-letter-spacing)] leading-[var(--headline-desktop-small-line-height)] whitespace-nowrap [font-style:var(--headline-desktop-small-font-style)]"
				>
					Headline/desktop/small
				</div>
				<div
					class="top-[631px] left-[450px] font-headline-mobile-large font-[number:var(--headline-mobile-large-font-weight)] text-black text-[length:var(--headline-mobile-large-font-size)] tracking-[var(--headline-mobile-large-letter-spacing)] leading-[var(--headline-mobile-large-line-height)] whitespace-nowrap [font-style:var(--headline-mobile-large-font-style)]"
				>
					Headline/mobile/large
				</div>
				<div
					class="top-[706px] left-[450px] font-headline-mobile-medium font-[number:var(--headline-mobile-medium-font-weight)] text-black text-[length:var(--headline-mobile-medium-font-size)] tracking-[var(--headline-mobile-medium-letter-spacing)] leading-[var(--headline-mobile-medium-line-height)] whitespace-nowrap [font-style:var(--headline-mobile-medium-font-style)]"
				>
					Headline/mobile/medium
				</div>
				<div
					class="top-[776px] left-[450px] font-headline-mobile-small font-[number:var(--headline-mobile-small-font-weight)] text-black text-[length:var(--headline-mobile-small-font-size)] tracking-[var(--headline-mobile-small-letter-spacing)] leading-[var(--headline-mobile-small-line-height)] whitespace-nowrap [font-style:var(--headline-mobile-small-font-style)]"
				>
					Headline/mobile/small
				</div>
				<div
					class="top-[842px] left-[450px] text-[length:var(--text-desktop-large-font-size)] tracking-[var(--text-desktop-large-letter-spacing)] leading-[var(--text-desktop-large-line-height)] font-text-desktop-large font-[number:var(--text-desktop-large-font-weight)] text-black whitespace-nowrap [font-style:var(--text-desktop-large-font-style)]"
				>
					Text/Desktop/large
				</div>
				<div
					class="top-[889px] left-[450px] text-[length:var(--text-desktop-medium-font-size)] tracking-[var(--text-desktop-medium-letter-spacing)] leading-[var(--text-desktop-medium-line-height)] font-text-desktop-medium font-[number:var(--text-desktop-medium-font-weight)] text-black whitespace-nowrap [font-style:var(--text-desktop-medium-font-style)]"
				>
					Text/Desktop/medium
				</div>
				<div
					class="top-[398px] left-[1259px] text-[length:var(--text-desktop-base-font-size)] tracking-[var(--text-desktop-base-letter-spacing)] leading-[var(--text-desktop-base-line-height)] font-text-desktop-base font-[number:var(--text-desktop-base-font-weight)] text-black whitespace-nowrap [font-style:var(--text-desktop-base-font-style)]"
				>
					Text/Desktop/base
				</div>
				<div
					class="top-[445px] left-[1259px] font-text-desktop-base-highlight font-[number:var(--text-desktop-base-highlight-font-weight)] text-black text-[length:var(--text-desktop-base-highlight-font-size)] tracking-[var(--text-desktop-base-highlight-letter-spacing)] leading-[var(--text-desktop-base-highlight-line-height)] whitespace-nowrap [font-style:var(--text-desktop-base-highlight-font-style)]"
				>
					Text/Desktop/base-highlight
				</div>
				<div
					class="top-[492px] left-[1259px] text-[length:var(--text-mobile-large-font-size)] tracking-[var(--text-mobile-large-letter-spacing)] leading-[var(--text-mobile-large-line-height)] font-text-mobile-large font-[number:var(--text-mobile-large-font-weight)] text-black whitespace-nowrap [font-style:var(--text-mobile-large-font-style)]"
				>
					Text/Mobile/large
				</div>
				<div
					class="top-[539px] left-[1259px] text-[length:var(--text-mobile-medium-font-size)] tracking-[var(--text-mobile-medium-letter-spacing)] leading-[var(--text-mobile-medium-line-height)] font-text-mobile-medium font-[number:var(--text-mobile-medium-font-weight)] text-black whitespace-nowrap [font-style:var(--text-mobile-medium-font-style)]"
				>
					Text/Mobile/medium
				</div>
				<div
					class="top-[586px] left-[1259px] text-[length:var(--text-mobile-base-font-size)] tracking-[var(--text-mobile-base-letter-spacing)] leading-[var(--text-mobile-base-line-height)] font-text-mobile-base font-[number:var(--text-mobile-base-font-weight)] text-black whitespace-nowrap [font-style:var(--text-mobile-base-font-style)]"
				>
					Text/Mobile/base
				</div>
				<div
					class="top-[633px] left-[1259px] font-text-mobile-base-highlight font-[number:var(--text-mobile-base-highlight-font-weight)] text-black text-[length:var(--text-mobile-base-highlight-font-size)] tracking-[var(--text-mobile-base-highlight-letter-spacing)] leading-[var(--text-mobile-base-highlight-line-height)] whitespace-nowrap [font-style:var(--text-mobile-base-highlight-font-style)]"
				>
					Text/Mobile/base-highlight
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
