---
import Layout from '~/layouts/HomepageLayout.astro';
import Section from '~/components/Section.svelte';
import WhoWeAre from '~/components/homepage/WhoWeAre.astro';
import Hero from '~/components/homepage/Hero.astro';
import Stats from '~/components/homepage/Stats.astro';
import Projects from '~/components/homepage/Projects.astro';
import Testimonials from '~/components/homepage/Testimonials.astro';
import Timeline from '~/components/timeline/home/TimelineHome.svelte';
import Supports from '~/components/homepage/Supports.astro';
import Button from '~/components/Button.astro';
import SoftwareAnnouncement from '~/components/SoftwareAnnouncement.astro';
import Newsletter from '~/components/Newsletter.astro';

import Banner from '~/assets/dynebolic-banner.svg?raw';
import Svg from '~/components/Svg.astro';
---

<Layout title="Dyne.org">
	<main class="flex flex-col lg:space-y-28">
		<Hero />

		<Section id="who-we-are" title="Who we are" cls="-mt-40 p-4 pt-40 lg:pt-14 -z-1">
			<span slot="description">
We focus on developing software that benefits society, rather than generate profits and profits. It's about developing technology that people can understand and control, rather than having people being controlled by machines. Building communities is valuable in the long term, with other types of benefits that are not monetary, because there are other ways to prosper and earn. Software not just about money, it's about participation, ideas, people and a sense of community.
			</span>
			<WhoWeAre />
		</Section>

		<Stats />
		<Newsletter
		  intro="Subscribe to Planet Dyne to stay updated about the latest sustainable tech, Hacker lore and Digital culture."
		  href="https://news.dyne.org/#/portal/signup"
		>
		</Newsletter>

		<SoftwareAnnouncement
			intro="Dyne.org foundation is proud to announce a new RASTASOFT production:"
			href="https://dynebolic.org"
		>
			<Svg content={Banner} />
		</SoftwareAnnouncement>

		<Projects />

		<Testimonials />

		<Supports />

		<div class="my-10">
			<Section id="timeline" title="What we did" contentPadding={false}>
				<Timeline client:only />
				<div class="p-8 lg:p-12 flex justify-end">
					<Button text="View full timeline" href="/timeline" />
				</div>
			</Section>
		</div>
	</main>
</Layout>
