---
import Layout from '~/layouts/HomepageLayout.astro';
import Section from '~/components/Section.astro';
import WhoWeAre from '~/components/WhoWeAre.astro';
import Hero from '~/components/Hero.astro';
import Stats from '~/components/Stats.astro';
import Projects from '~/components/Projects.astro';
import Testimonials from '~/components/Testimonials.astro';
import Awards from '~/components/Awards.astro';
---

<Layout title="Dyne.org" description="Mimmolo">
	<main>
		<Hero />

		<Section
			id="who-we-are"
			title="Who we are"
			description="Our mission is to create a more open world where all non-personal information is free for everyone to use. Our success is measured by the social, economical and environmental impact of our work. Learn more about what makes our approach so special: "
		>
			<WhoWeAre />
		</Section>

		<Stats />
		<Awards />
		<Section
			id="what-we-do"
			title="What we do"
			description="Since the year 2000 a large amount of people and organisations in all fields employed and redistributed our creations. Our software gives everybody the right to use, study, share and improve its code, supporting fundamental freedoms. Discover more by scrolling through some of our projects: "
		>
			<Projects />
		</Section>

		<Testimonials />
	</main>
</Layout>
