---
import Layout from '~/layouts/HomepageLayout.astro';
import Section from '~/components/Section.svelte';
import WhoWeAre from '~/components/WhoWeAre.astro';
import Hero from '~/components/Hero.astro';
import Stats from '~/components/Stats.astro';
import Projects from '~/components/Projects.astro';
import Testimonials from '~/components/Testimonials.astro';
import BannerMerch from '~/components/BannerMerch.astro';
import Timeline from '~/components/timeline/TimelineHome.svelte';
import Awards from '~/components/Awards.astro';
import Supports from '~/components/Supports.astro';
import ToggleDark from '~/components/ToggleDark.svelte';
import ToggleLight from '~/components/ToggleLight.svelte';
---

<Layout title="Dyne.org">
	<ToggleDark ids={['who-we-are', 'what-we-did']} client:only />
	<main class="flex flex-col space-y-28">
		<Hero />

		<Section
			id="who-we-are"
			title="Who we are"
			description="Our mission is to create a more open world where all non-personal information is free for everyone to use. Our success is measured by the social, economical and environmental impact of our work. "
		>
			<WhoWeAre />
		</Section>

		<Stats />

		<Projects />

		<Awards />

		<Testimonials />

		<Supports />

		<div class="mb-10">
			<Section id="what-we-did" title="What we did" description="" contentPadding={false}>
				<Timeline client:only />
				<!-- <div class="p-8 lg:p-12 flex justify-end">
					<Button text="View full timeline" href="/timeline" />
				</div> -->
			</Section>
		</div>

		<div class="mb-10">
			<BannerMerch />
		</div>
	</main>
</Layout>
