---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import WhoWeAre from '~/components/WhoWeAre.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Section title="Who we are" description="Our mission is to create a more open world where all non-personal information is open, free for everyone to use.Our mission is to create a more open world where all non-personal  is open, free for everyone to use.">
			<WhoWeAre/>
		</Section>
	</main>
</Layout>
