---
import Layout from '~/layouts/Layout.astro';
import TimelinePage from '~/components/timeline/page/TimelinePage.svelte';
---

<Layout
	content={{
		title: 'Timeline',
		description: "Tracing our steps: here we try to recap our journey, milestones and digital chronicles.",
	}}
>
	<div class="bg-black mb-12 rounded-3xl py-20">
		<div class="max-w-xl mx-auto not-prose px-2">
			<TimelinePage client:only />
		</div>
	</div>
</Layout>
