---
import Layout from '~/layouts/HomepageLayout.astro';
import Timeline from '~/components/timeline/Timeline.svelte';
import Section from '~/components/Section.svelte';
---

<Layout title="Dyne.org">
	<div class="mb-10">
		<Section title="What we did" contentPadding={false}>
			<Timeline client:only />
		</Section>
	</div>
</Layout>
