<div class="bg-black text-white rounded-3xl">
	<a href="https://dyneorg.myspreadshop.it" target="_blank" class="block p-8">
		<h1 class="font-semibold text-3xl lg:text-5xl mb-8 underline">Get your Dyne Goodies!<br />Visit our shop</h1>
		<img src="/images/banner/dyne-merch-web.jpg" alt="Banner for Dyne merch shop" class="rounded-3xl" />
	</a>
</div>
