---
import Button from '~/components/Button.astro';
---

<div class="flex flex-col sm:flex-row gap-4">
    <Button as="button" text="Public Reception" id="lobby-btn" />
    <Button as="button" text="New Private Room" id="private-room-btn" inverted={true} />
</div>

<script>
  // Function to redirect to the public reception lobby
  function startLobby() {
    window.location.href = 'https://conspire.dyne.org:8443/room/lobby';
  }

  // Function to generate a random room name and redirect
  function startPrivateRoom() {
    const randomRoom = Math.random().toString(36).substring(2, 15);
    window.location.href = `https://conspire.dyne.org:8443/room/${randomRoom}`;
  }

  // Add event listeners to the buttons
  document.getElementById('lobby-btn')?.addEventListener('click', startLobby);
  document.getElementById('private-room-btn')?.addEventListener('click', startPrivateRoom);
</script>
