---
import Logo from './Logo.astro';
---

<header class="w-full">
	<div class="p-6 lg:px-8 mx-auto w-full max-w-7xl lg:flex lg:justify-between items-center">
		<a href="/" class="inline-block">
			<Logo />
		</a>

		<!-- Desktop: links -->
	</div>

	<!-- Mobile: Fixed menu button -->

	<!-- Mobile: Fixed menu -->
</header>

<style>
	#d-link-container a:last-child {
		@apply text-accent;
	}
</style>
