---
import LogoSmall from './LogoSmall.astro';
import Socials from './Socials.astro';

const primaryLinks = [
	{ name: 'Who we are', href: '/#who-we-are' },
	{ name: 'What we do', href: '/#what-we-do' },
	{ name: 'Donate', href: '/donate' },
	// { name: 'What we did', href: '/#what-we-did' },
];
---

<header class="mx-auto w-full">
	<div class="mx-auto w-full lg:flex lg:justify-between max-w-7xl items-center">
		<div class="flex flex-row items-start justify-between px-4 pt-2">
			<LogoSmall />
			<div class="lg:hidden">
				<button
					type="button"
					class="ml-1.5 text-gray-500 dark:text-gray-400 rounded-lg text-sm p-2.5 inline-flex items-center transition"
					aria-label="Toggle menu"
					data-aw-toggle-menu
				>
					<svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M47.25 40.5H20.25V36H47.25V40.5ZM47.25 29.25H6.75V24.75H47.25V29.25ZM47.25 18H20.25V13.5H47.25V18Z"
							fill="var(--accent-color)"></path>
					</svg>
				</button>
			</div>
		</div>
		<nav
			class="items-center w-full lg:w-auto hidden lg:flex text-gray-600 dark:text-slate-200 h-screen lg:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul class="lg:hidden text-2xl text-[#FFEEDD] w-full text-right pr-4">
				{
					primaryLinks.map((pl) => (
						<li class="pb-6">
							<a href={pl.href} class="block py-4 px-2 lg:px-4">
								{pl.name}
							</a>
						</li>
					))
				}
			</ul>

			<div class="flex flex-col items-end mb-4 space-y-4 p-10">
				<Socials size={30}/>
				<div class="hidden items-center lg:flex space-x-10 font-medium text-2xl">
					{
						primaryLinks.map((pl) => (
							<a href={pl.href} class="text-black block inline-flex items-center whitespace-nowrap">
								{pl.name}
							</a>
						))
					}
				</div>
			</div>
		</nav>
	</div>
</header>
