---
import * as copy from '../content/hero/index.md';
import Button from '~/components/Button.astro';
---

<div class="flex flex-col lg:flex-row items-center space-y-8">
	<img src="/cafudda.svg" alt="cafuddda" class="w-[350px] h-[350px]" />
	<div class="flex flex-col text-center items-center lg:text-right lg:items-end space-y-12 lg:space-y-8 tracking-tight">
		<div class="text-6xl" set:html={copy.compiledContent()}></div>
		<p class="max-w-2 text-3xl">{copy.frontmatter.welcome}</p>
		<Button href="#" text={copy.frontmatter.CTA} />
	</div>
</div>
