---
import * as copy from '../content/hero/index.md';
import Button from '~/components/Button.astro';
import Caffuda from './Caffuda.astro';
---

<div class="flex flex-col lg:flex-row items-center space-y-20 lg:space-y-0 px-10 py-36">
	<div class="flex flex-col w-full space-y-8 tracking-tight">
		<div class="text-6xl" set:html={copy.compiledContent()}></div>
		<p class="max-w-3xl text-3xl">{copy.frontmatter.welcome}</p>
		<Button href={copy.frontmatter.url} text={copy.frontmatter.CTA} />
	</div>
	<!-- <img src="/cafudda.svg" alt="cafuddda" class="w-[350px] h-[350px]" /> -->
	<Caffuda />
</div>
