---
import * as copy from '../content/hero/index.md';
---
<div class="flex">
    <img src="/cafudda.svg" alt="cafuddda" class="w-80 h-80" />
    <div class="flex flex-col text-right items-end space-y-10">
        <div class="text-6xl" set:html={copy.compiledContent()} />
        <p class="max-w-2 text-xl">{copy.frontmatter.welcome}</p>
        <button class="bg-tertiary-40 py-2 px-4 rounded-full w-fit text-white">{copy.frontmatter.CTA}</button>
    </div>
</div>
