---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<section class="bg-black rounded-[60px] text-white m-2 p-2 pt-14">
	<div class="flex justify-between items-stretch pl-28 pr-10 space-x-16 text-[#FFEEDD]">
		<div class="font-semibold text-5xl whitespace-nowrap">{title}</div>
		<div class="pr-10 text-lg pl-20">{description}</div>
	</div>
	<slot />
</section>
