---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<section class="bg-black rounded rounded-3xl text-white m-2 p-2">
	<div class="flex justify-between items-baseline pl-32 pt-10">
		<div class="text-3xl mr-20 whitespace-nowrap">{title}</div>
		<div class="pr-10">{description}</div>
	</div>
	<slot />
</section>
