---
import Swiper from './Swiper.astro';

const testimonials = await Astro.glob('~/content/testimonial/*.md');
---

<div class="mx-auto lg:max-w-none bg-accent rounded-full p-20 lg:p-28 my-24 max-w-[450px]">
	<Swiper id="testimonials-slider flex align-middle">
		{
			testimonials.map((t) => {
				const { pic } = t.frontmatter;
				return (
					<div class="flex-col flex lg:flex-row gap-20 items-center justify-between swiper-slide">
						<img src={pic} />
						<div set:html={t.compiledContent()} class="text-primary-light text-xl lg:text-3xl" />
					</div>
				);
			})
		}
	</Swiper>
</div>
