---
const keywords = await Astro.glob('~/content/who-we-are/*.md');
---

<ul class="lg:px-12">
	{
		keywords.map((kw) => (
			<li
				class={`flipper text-black bg-${kw.frontmatter.color} ${kw.frontmatter.rotation} lg:px-12 min-h-max`}
			>
				<h2
					class={`front p-3 tracking-tighter top-0 left-0 font-semibold text-[1.9rem] md:text-[3.4rem] lg:text-mega whitespace-nowrap`}
				>
					{kw.frontmatter.word}
				</h2>
				<div
					set:html={kw.compiledContent()}
					class="back absolute top-0 left-0 p-2 text-xs md:text-lg md:p-5 lg:p-20 lg:text-3xl md:w-[80%] min-h-fit"
				/>
			</li>
		))
	}
</ul>
<style>
	.flipper {
		overflow: hidden;
		transform-style: preserve-3d;
		transition: 0.5s;
		padding-left: 16.5%;
		margin-left: -16.5%;
		width: 133%;
	}
	.flipper:hover .front {
		transform: rotateX(-180deg);
	}
	.flipper:hover .back {
		transform: translateX(0%);
	}

	.front {
		backface-visibility: hidden;
		transform: rotateX(0deg);
		transition: 0.5s;
	}

	.back {
		backface-visibility: hidden;
		transform: translateX(100%);
		transition: 0.5s;
		animation: slide-out 0.5s forward;
	}

	.slide-in {
		animation: slide-in 0.5s forwards;
		-webkit-animation: slide-in 0.5s forwards;
	}

	.slide-out {
		animation: slide-out 0.5s forwards;
		-webkit-animation: slide-out 0.5s forwards;
	}

	@keyframes slide-in {
		100% {
			transform: translateX(0%);
		}
	}

	@-webkit-keyframes slide-in {
		100% {
			-webkit-transform: translateX(0%);
		}
	}

	@keyframes slide-out {
		0% {
			transform: translateX(0%);
		}
		70% {
			transform: translateX(-70%);
		}
	}

	@-webkit-keyframes slide-out {
		0% {
			-webkit-transform: translateX(0%);
		}
		100% {
			-webkit-transform: translateX(-70%);
		}
	}
</style>
