---
import { Icon } from 'astro-icon';
interface Props {
	color?: 'neutral' | 'black' | 'green' | 'orange' | 'purple' | 'random';
	size?: 'large' | 'medium' | 'small';
	outline?: boolean;
	icon?: boolean;
	href?: string;
	class?: string;
}
let { color = 'random' } = Astro.props;
const { size = 'medium', outline = false, icon, href, class: cls } = Astro.props;
---

<button
	class:list={[
		'btn',
		{ 'py-2 px-3 text-base': size === 'small' },
		{ 'py-3 px-4 text-medium': size === 'medium' },
		{ 'px-6 py-4 text-large': size === 'large' },
		{ [`btn-${color}`]: !outline },
		{ [`btn-${color}-outline`]: outline },
		cls,
	]}
>
	<slot />
	{
		icon && (
			<Icon
				name="mdi:arrow-down"
				class:list={[
					'pl-2',
					{ 'text-black': color === 'neutral' },
					{
						'w-6': size === 'small',
						'w-7': size === 'medium',
						'w-8': size === 'large',
					},
				]}
			/>
		)
	}
</button>
