---
interface Props {
	color?: Color;
	class?: string;
}
const { color = 'random', class: cls } = Astro.props;
---

<div
	class:list={[
		'card',
		{
			'card-orange': color === 'orange',
			'card-green': color === 'green',
			'card-purple': color === 'purple',
			'card-random': color === 'random',
		},
		cls,
	]}
>
	<slot />
</div>
