---
import Text from '~/components/atoms/Text.astro';
import links from '~/content/menu/menu.json';

const pathname = new URL(Astro.request.url).pathname;
---

<nav class="flex items-center gap-6 whitespace-nowrap">
	{
		links.map((link) => {
			return (
				<a
					class:list={[
						'text-random-800 hover:underline',
						{ ['underline underline-random-900']: pathname.includes(link.href) },
					]}
					href={link.href}
				>
					<Text class="font-display font-semibold">{link.name}</Text>
				</a>
			);
		})
	}
	<a href="/linktree">
		<dyne-button size="small">Reach us</dyne-button>
	</a>
	<a href="/donate">
		<dyne-button size="small" emphasis="high">Donate</dyne-button>
	</a>
</nav>
