@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	font-weight: 900;
	src:
		url('/fonts/BasisGrotesqueArabicPro-Black.ttf') format('truetype'),
		url('/fonts/BasisGrotesqueArabicPro-Black.woff') format('woff'),
		url('/fonts/BasisGrotesqueArabicPro-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	font-weight: 700;
	src:
		url('/fonts/BasisGrotesqueArabicPro-Bold.ttf') format('truetype'),
		url('/fonts/BasisGrotesqueArabicPro-Bold.woff') format('woff'),
		url('/fonts/BasisGrotesqueArabicPro-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	font-weight: 300;
	src: url('/fonts/BasisGrotesqueArabicPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	font-weight: 500;
	src:
		url('/fonts/BasisGrotesqueArabicPro-Medium.ttf') format('truetype'),
		url('/fonts/BasisGrotesqueArabicPro-Medium.woff') format('woff'),
		url('/fonts/BasisGrotesqueArabicPro-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Basis Grotesque Arabic Pro';
	font-weight: 400;
	src:
		url('/fonts/BasisGrotesqueArabicPro-Regular.ttf') format('truetype'),
		url('/fonts/BasisGrotesqueArabicPro-Regular.woff') format('woff'),
		url('/fonts/BasisGrotesqueArabicPro-Regular.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--neutral-primary-h: 30;
		--neutral-primary-s: 100%;
		--neutral-primary-l: 93.3%;
		--cards-focused-green: 0px 3px 15px 0px hsla(168, 47%, 41%, 0.25);
		--cards-focused-orange: 0px 3px 15px 0px hsla(27, 70%, 53%, 0.3);
		--cards-focused-purple: 0px 3px 15px 0px hsla(248, 35%, 34%, 0.25);
		--cards-simple-green: 0px 1px 10px 0px hsla(168, 47%, 41%, 0.15);
		--cards-simple-orange: 0px 1px 10px 0px hsla(27, 70%, 53%, 0.15);
		--cards-simple-purple: 0px 1px 10px 0px hsla(248, 35%, 34%, 0.15);
		--primary-colorsgreen-circular50: hsla(168, 50%, 95%, 1);
		--primary-colorsgreen-circular100: hsla(168, 47%, 91%, 1);
		--primary-colorsgreen-circular200: hsla(168, 44%, 80%, 1);
		--primary-colorsgreen-circular300: hsla(168, 50%, 68%, 1);
		--primary-colorsgreen-circular400: hsla(168, 50%, 50%, 1);
		--primary-colorsgreen-circular500: hsla(168, 50%, 31%, 1);
		--primary-colorsgreen-circular600: hsla(168, 47%, 33%, 1);
		--primary-colorsgreen-circular700: hsla(168, 47%, 28%, 1);
		--primary-colorsgreen-circular800: hsla(168, 47%, 21%, 1);
		--primary-colorsgreen-circular900: hsla(168, 50%, 9%, 1);
		--primary-colorsorange-opensource5: hsla(22, 87%, 95%, 1);
		--primary-colorsorange-opensource10: hsla(22, 75%, 86%, 1);
		--primary-colorsorange-opensource20: hsla(22, 66%, 72%, 1);
		--primary-colorsorange-opensource30: hsla(22, 63%, 57%, 1);
		--primary-colorsorange-opensource40: hsla(22, 63%, 49%, 1);
		--primary-colorsorange-opensource50: hsla(22, 70%, 47%, 1);
		--primary-colorsorange-opensource60: hsla(22, 63%, 45%, 1);
		--primary-colorsorange-opensource70: hsla(22, 68%, 39%, 1);
		--primary-colorsorange-opensource80: hsla(22, 68%, 24%, 1);
		--primary-colorsorange-opensource90: hsla(22, 72%, 14%, 1);
		--primary-colorspurple-cybers50: hsla(240, 16%, 96%, 1);
		--primary-colorspurple-cybers100: hsla(240, 16%, 89%, 1);
		--primary-colorspurple-cybers200: hsla(240, 33%, 76%, 1);
		--primary-colorspurple-cybers300: hsla(240, 34%, 64%, 1);
		--primary-colorspurple-cybers400: hsla(240, 38%, 50%, 1);
		--primary-colorspurple-cybers500: hsla(240, 39%, 29%, 1);
		--primary-colorspurple-cybers600: hsla(240, 45%, 43%, 1);
		--primary-colorspurple-cybers700: hsla(240, 54%, 31%, 1);
		--primary-colorspurple-cybers800: hsla(240, 54%, 20%, 1);
		--primary-colorspurple-cybers900: hsla(240, 54%, 10%, 1);
		--variant0: hsla(0, 0%, 0%, 1);
		--variant10: hsla(255, 8%, 13%, 1);
		--variant20: hsla(255, 8%, 20%, 1);
		--variant30: hsla(255, 8%, 28%, 1);
		--variant40: hsla(255, 8%, 40%, 1);
		--variant50: hsla(255, 8%, 47%, 1);
		--variant60: hsla(255, 8%, 53%, 1);
		--variant70: hsla(255, 8%, 67%, 1);
		--variant80: hsla(255, 8%, 79%, 1);
		--variant90: hsla(255, 8%, 90%, 1);
		--variant95: hsla(255, 8%, 96%, 1);
		--variant100: hsla(0, 0%, 100%, 1);
		--neutral-50: hsl(40, 31%, 95%);
		--neutral-100: hsl(36, 54%, 87%);
		--neutral-200: hsl(31, 63%, 75%);
		--neutral-300: hsl(28, 62%, 62%);
		--neutral-400: hsl(23, 67%, 49%);
		--neutral-500: hsl(22, 63%, 41%);
		--neutral-600: hsl(20, 60%, 36%);
		--neutral-700: hsl(18, 56%, 39%);
		--neutral-800: hsl(16, 50%, 35%);
		--neutral-900: hsl(14, 44%, 30%);
		--neutral-950: hsl(20, 90%, 12%);
		--simple: 0px 1px 10px 0px hsla(248, 35%, 34%, 0.15);
	}
}

@layer components {
	a {
		@apply underline text-accent;
	}

	hr {
		@apply h-px mt-1 mb-5 bg-black-900 border-0;
	}
	.h1,
	.h2,
	.h3 {
		@apply leading-[120%] font-display;
	}
	.h1 {
		@apply text-4xl font-extrabold tracking-[-0.72px] md:text-[42px] md:tracking-[-0.84px];
	}

	.h2 {
		@apply text-[32px] font-semibold tracking-[-0.64px] md:text-[38px] md:tracking-[-0.76px];
	}

	.h3 {
		@apply text-[28px] font-medium tracking-[-0.56px] md:text-[34px] md:tracking-[-0.68px];
	}

	.text-base,
	.text-medium,
	.text-large {
		@apply font-sans;
	}

	.text-base {
		@apply text-lg leading-[140%] tracking-[-0.36px] md:text-xl md:leading-[140%] md:tracking-[-0.4px];
	}

	.text-medium {
		@apply text-xl leading-[130%] tracking-[-0.4px] md:text-[22px] md:tracking-[-0.44px];
	}

	.text-large {
		@apply text-[22px] leading-[130%] tracking-[-0.44px] md:text-2xl md:tracking-[-0.48px];
	}
}
