---
import MiniCard from '~/components/MiniCard.astro';
import Layout from '~/layouts/Layout.astro';
const softwares = await Astro.glob('~/pages/software/*.md');
---

<Layout
	content={{
		title: 'Software',
		description: "Dive into the code ocean<br/>Dyne's collective toolbox for hackers, makers, and dreamers",
	}}
>
	<div class="grid grid-cols-2 gap-8">
		{
			softwares.map((software) => (
				<MiniCard
					body={software.frontmatter.description}
					href={software.url}
					title={software.frontmatter.title}
					cn={{ body: 'text-sm', title: 'no-underline' }}
				/>
			))
		}
	</div>
</Layout>
