---
import Text from 'A/Text.astro';
import SoftwareCard from '~/components/molecules/SoftwareCard.astro';
import Layout from '~/layouts/Layout.astro';
const softwares = await Astro.glob('~/pages/software/*.md');
const github_fetch = await fetch('https://api.github.com/orgs/dyne/repos?per_page=100&type=sources');
const github = await github_fetch.json();
---

<Layout
	content={{
		title: 'Software',
		description: "Dive into the code ocean<br/>Dyne's collective toolbox for hackers, makers, and dreamers",
	}}
>
	<div class="grid md:grid-cols-2 gap-8">
		{
			softwares.map((software) => (
				<SoftwareCard
					title={software.frontmatter.title}
					color="random"
					href={new URL(software.url, 'https://dyne.org')}
					picture={software.frontmatter.logo ? new URL(software.frontmatter.logo, 'https://dyne.org') : undefined}
				>
					<Text>{software.frontmatter.description}</Text>
				</SoftwareCard>
			))
		}
		{
			github.map((software) => (
				<SoftwareCard
					title={software.name}
					color="random"
					href={new URL(software.homepage ? software.homepage : software.html_url)}
					download={software.homepage ? new URL(software.html_url) : undefined}
				>
					<Text>{software.description}</Text>
				</SoftwareCard>
			))
		}
	</div>
</Layout>
