---
import GlobalAssets from '~/components/GlobalAssets.astro';
import MetaTags from '~/components/MetaTags.astro';

const { meta = {} } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="bg-random-50">
		<slot />
		<GlobalAssets />
	</body>
</html>
