---
import GlobalAssets from '~/components/GlobalAssets.astro';
import MetaTags from '~/components/MetaTags.astro';

const { meta = {} } = Astro.props;
const choose = (choices) => {
	const index = Math.floor(Math.random() * choices.length);
	return choices[index];
};
const accent = choose(['#F4CC9C', '#154B45', '#4843EB']);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="bg-[#FFEEDD] p-2 lg:p-20">
		<slot />
		<style is:global define:vars={{ accent }}>
			:root {
				--accent-color: var(--accent);
			}
		</style>
		<GlobalAssets />
	</body>
</html>
