---
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
	<Header />
	<div class="max-w-7xl mx-auto">
		<slot />
	</div>
	<Footer />
</BaseLayout>
