---
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import BaseLayout from './BaseLayout.astro';
const { meta = {}, title, description } = Astro.props;
---

<BaseLayout meta>
	<Header />
		<div class="max-w-7xl mx-auto">
			<slot />
		</div>
	<Footer />
</BaseLayout>
