---
import BaseLayout from './BaseLayout.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import '@fontsource/work-sans/400.css';
import '@fontsource/work-sans/700.css';
import '@fontsource/work-sans/800.css';
import "@fontsource/jetbrains-mono";


const { content } = Astro.props;
const meta = {
	title: content?.title || undefined,
	description: content?.description || undefined,
	cover: content?.cover || undefined,
};
---

<BaseLayout meta={meta}>
	<Header />
	<div
		class="pb-24 p-8 lg:p-0 mx-auto w-full prose md:prose-2xl prose-img:mx-auto prose-blockquote:font-thin prose-blockquote:font-sans prose-blockquote:text-accent prose-headings:text-accent font-prose"
	>
		<slot />
	</div>
	<Footer />
</BaseLayout>
