---
export interface Props {
	title: string;
}

// import "@fontsource/syne-tactile"
import "@fontsource/syne-tactile/400.css"
import "@fontsource/syne/400.css"
import "@fontsource/syne/700.css"
import "@fontsource/syne/800.css"
import Header from "~/components/Header.astro";

const choose = (choices) => {
  const index = Math.floor(Math.random() * choices.length);
  return choices[index];
}


const { title } = Astro.props;
const accent = choose(["#F4CC9C", "#154B45", "#4843EB"])
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#FFEEDD] p-20">
		<!-- <Header /> -->
		<slot />
	</body>
</html>
<style is:global define:vars={{accent}}>
	strong {
		font-weight: 700;
	}
	em {
		font-family: 'Syne Tactile';
	}
	:root {
		--accent-color: var(--accent);
	}

</style>
<!-- <style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		background-color: #F6F6F6;
	}
</style> -->
