---
import BaseLayout from './BaseLayout.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import '@fontsource/jetbrains-mono';
import '@fontsource-variable/inter';

const { content, cls } = Astro.props;
const meta = {
	title: 'Dyne.org :: ' + content?.title || undefined,
	description: content?.description || undefined,
	cover: content?.cover || undefined,
};
---

<BaseLayout meta={meta}>
	<Header />
	<div
		class={`pb-24 p-8 lg:p-0 mx-auto w-full prose prose-2xl prose-img:mx-auto prose-blockquote:font-medium prose-blockquote:not-italic prose-blockquote:font-prose prose-blockquote:text-accent prose-headings:text-accent prose-headings:font-sans font-prose prose-strong:text-accent prose-strong:font-medium ${cls}`}
	>
		<div class="flex items-baseline justify-between">
			<h1 class="font-medium">Dyne.org <br /> <span class="font-bold">{content.title}</span></h1>

			<span class="text-lg">
				<span class="text-accent font-medium">We are hackers.</span>
				<br />
				<span set:html={content.description} />
			</span>
		</div>
		<slot />
	</div>
	<Footer />
</BaseLayout>
